<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/profile">Profile</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Account</li>
    </ol>
  </nav>

  <div class="title-container">
    <h1 class="title">Account Settings</h1>
  </div>

  <hr />

  <div class="account-container">
    <h2>Change Your Name</h2>
    <button class="btn btn-info" routerLink="/profile/account/name" type="submit">Change</button>

    <hr class="bar" />

    <h2>Change Your Email</h2>
    <button class="btn btn-info" routerLink="/profile/account/email" type="submit">Change</button>

    <hr class="bar" />
    <h2>Change Your Password</h2>
    <button class="btn btn-info" routerLink="/profile/account/password" type="submit">Change</button>

  </div>

</div>
