<div class="container">
  <h1 class="text-center title" >Dbooks</h1>

  <div class="sign-in">
    <h5>Sign In or Create and Account</h5>
    <label>Email</label>
    <input class="form-control" type="text">

    <label>Password</label>
    <input class="form-control" type="password">

    <button class="continue-button btn btn-primary btn-block" routerLink="/profile">Continue</button>
    <hr />
    <p class="text-center">Don't have an account? <a href="#">Create an Account!</a></p>

    <p class="text-center policy">By signing in you are agreeing to our <a href="#">Terms of Use</a> and our <a href="#">Privacy Policy</a>.</p>
  </div>
 </div>
