<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/profile">Profile</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/profile/payment">Payment</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">New Payment</li>
    </ol>
  </nav>

  <div class="title-container">
    <h1 class="title">Add new payment</h1>
  </div>

  <hr />

  <div class="account-container">

    <form #newPaymentForm="ngForm">
      <div class="form">
        <div class="col-3">
          <label>Name on card</label>
          <input type="text" class="form-control" name="name" placeholder="" ngModel>
        </div>
        <div class="col-3">
          <label>Card number</label>
          <input type="text" class="form-control" name="cardNumber" placeholder="" ngModel>
        </div>
        <div class="col-3">
          <label>Exp date (MM/YYYY)</label>
          <input type="text" class="form-control" name="expDate" placeholder="" ngModel>
        </div>
        <div class="col-3">
          <label>Security Code</label>
          <input type="text" class="form-control" name="securityCode" placeholder="" ngModel>
        </div>
      </div>
      <br />
      <button class="btn btn-warning" (click)="onChangePayment(newPaymentForm, 'submit')">Add your card</button>
      <button class="btn btn-danger" (click)="onChangePayment(newPaymentForm, 'cancel')">Cancel</button>
    </form>
  </div>

</div>
