<div class="container">

  {{ email }}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/profile">Profile</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/profile/account">Account</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Password</li>
    </ol>
  </nav>


  <div class="title-container">
    <h1 class="title">Change your password</h1>
  </div>

  <hr />

  <div class="account-container">
    <form #passwordForm="ngForm">
      <input class="form-control" name="currentPassword" type="password" placeholder="Current password" ngModel>
      <input class="form-control" name="newPassword" type="password" placeholder="New password" ngModel>
      <input class="form-control" name="confirmPassword" type="password" placeholder="Confirm password" ngModel>
      <button class="btn btn-info" (click)="onChangePassword(passwordForm, 'submit')" type="submit">Save Changes</button>
      <button class="btn btn-link" (click)="onChangePassword(passwordForm, 'cancel')" type="submit">Cancel</button>
    </form>

  </div>

</div>
