<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/profile">Profile</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Payment</li>
    </ol>
  </nav>

  <div class="title-container">
    <h1 class="title">Manage Payments</h1>
  </div>

  <hr />

  <br />

  <div [ngSwitch]="hasPayment">
    <div *ngSwitchCase="null"></div>
    <div *ngSwitchCase="false"><p>You do not have any payment methods stored. Please click on the "Add New Payment Method" button to add a new payment
      method.
    </p></div>
    <div *ngSwitchCase="true">


      <div class="row">

        <div *ngIf="hasDefaultPayment" class="col-md-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Default</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ defaultPayment.name }}</h6>
              <p class="card-text card-address">Expires: {{ defaultPayment.expDate }}</p>
              <p class="card-text card-address">Credit card: {{ defaultPayment.cardNumber }}</p>
              <button type="button" (click)='onRemoveDefaultPayment()' class="btn btn-outline-danger btn-sm">Delete</button>
            </div>
          </div>
        </div>

        <div *ngFor="let payment of listPayments" class="col-md-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Secondary</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ payments[payment].name }}</h6>
              <p class="card-text card-address">Expires: {{ payments[payment].expDate }}</p>
              <p class="card-text card-address">Credit card: {{ payments[payment].cardNumber }}</p>

              <button type="button" (click)='onRemovePayment(payment)' class="btn btn-outline-danger btn-sm">Delete</button>
              <button type="button" (click)='onMakeDefault(payment)' class="btn btn-outline-secondary btn-sm">Make Default</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <button routerLink="new-payment" class="btn btn-info">Add New Payment Method</button>




  <!-- <form>
    <div class="form-row">
      <div class="col-3">
        <label>Name on card</label>
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="col-3">
        <label>Card number</label>
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="col-3">
        <label>Exp date (MM/YYYY)</label>
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="col-3">
        <label>Security Code</label>
        <input type="text" class="form-control" placeholder="">
      </div>
    </div>
    <br />
    <button class="btn btn-warning">Add your card</button>
  </form> -->

</div>
