.container {
  padding: 20px 40px;
}

.title-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.title {
  font-weight: 400;
  font-size: 2em;
  padding: 8px;
  font-family: Georgia, serif;
  display: inline;
}

.setting {
  border: 1px solid #bdc1c0;
  padding: 30px;
  margin: 5px -5px;
}

.setting h2 {
  font-family: Georgia, serif;
  margin-bottom: 15px;
  font-size: 1.5em;
}

.setting p {
  margin: 0;

}

.setting button {
  margin-top: 20px;
}

.btn-setting {
  border-radius: 0px;
  padding: 12px 35px;
}


.card-address {
  margin: auto;
}

.address-body {
  margin: 30px 0px;
}

/* TESTEST */

.testerClass {
  margin-top: 20px;
  margin-bottom: 50px;
}
