<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/profile">Profile</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/profile/address">Address</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">New Address</li>
    </ol>
  </nav>


  <div class="title-container">
    <h1 class="title">Add a new address</h1>
  </div>

  <hr />

  <div class="account-container">
    <h2>Change Your Username</h2>
    <form #newAddressForm="ngForm">

      <label>Country/Region*</label>
      <!-- <input class="form-control" type="text" name="country2" placeholder="United States" ngModel> -->
      <select ngModel (ngModelChange)="onChangeCountry($event)" name="country" class="custom-select">
          <option *ngFor="let country of countriesList" value="{{country}}">{{country}}</option>
        </select>
      <label>Full Name*</label>
      <input class="form-control" type="text" name="fullName" placeholder="" ngModel>
      <label>Street address*</label>
      <input class="form-control" type="text" name="streetAddress1" placeholder="Street and number, P.O. box" ngModel>
      <input class="form-control" type="text" name="streetAddress2" placeholder="(Optional) Apartment, suite, unit, building, floor, etc."
        ngModel>
      <label>City*</label>
      <input class="form-control" type="text" name="city" placeholder="" ngModel>
      <label>State / Province / Region*</label>
      <div *ngIf="isCountryUSA; else otherCountry">
        <select ngModel (ngModelChange)="onChangeState($event)" name="state" class="custom-select">
          <option *ngFor="let state of statesList" value="{{state.abbrev}}">{{state.name}}</option>
        </select></div>
      <ng-template #otherCountry>
          <input class="form-control" type="text" name="state" placeholder="" ngModel>
      </ng-template>


      <label>Zip Code*</label>
      <input class="form-control" type="text" name="zipCode" placeholder="" ngModel>
      <label>US Phone number*</label>
      <input class="form-control" type="text" name="phoneNumber" placeholder="" ngModel>

      <h2>Add delivery instructions</h2>
      <label>Do we need a security code or a call box number to access this building?</label>
      <input class="form-control" type="text" name="instruction" placeholder="Please ring the bell..." ngModel>

      <button class="btn btn-info" type="submit" (click)="onChangeAddress(newAddressForm, 'submit')">Save Changes</button>
      <button class="btn btn-info" type="submit" (click)="onChangeAddress(newAddressForm, 'cancel')">Cancel</button>
    </form>
  </div>

</div>
