<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/address">Address</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">New Address</li>
    </ol>
  </nav>


  <div class="title-container">
    <h1 class="title">Add a new address</h1>
  </div>

  <hr />

  <div class="account-container">
    <h2>Change Your Username</h2>
    <form #nameForm="ngForm">
      <label>Country/Region</label>
      <input class="form-control" type="text" name="country" placeholder="United States" ngModel>
      <label>Full Name</label>
      <input class="form-control" type="text" name="fullName" placeholder="" ngModel>
      <label>Street address</label>
      <input class="form-control" type="text" name="streetAddress1" placeholder="Street and number, P.O. box" ngModel>
      <input class="form-control" type="text" name="streetAddress2" placeholder="Apartment, suite, unit, building, floor, etc."
        ngModel>
      <label>City</label>
      <input class="form-control" type="text" name="city" placeholder="" ngModel>
      <label>State / Province / Region</label>
      <input class="form-control" type="text" name="state" placeholder="" ngModel>
      <label>Zip Code</label>
      <input class="form-control" type="text" name="zip_code" placeholder="" ngModel>
      <label>Phone number</label>
      <input class="form-control" type="text" name="phone_number" placeholder="" ngModel>

      <h2>Add delivery instructions</h2>
      <label>Do we need a security code or a call box number to access this building?</label>
      <input class="form-control" type="text" name="fullName" placeholder="Please ring the bell..." ngModel>

      <button class="btn btn-info" type="submit">Save Changes</button>
    </form>
  </div>

</div>
