<h1>Dbooks</h1>
<hr>

<div class="row" id="browse">
      <!--This the BrowseBy-->
      <div class="col-lg-1">
         Browse By:
         </div>
        <div class="col-lg-2" id="browseButton">
          <div ngbDropdown class="browseBy">
            <button class="btn btn-dark dropdown-toggle" role="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                Genre</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu">
                  <a class="dropdown-item" (click)="SciGet()" >Sci-Fi</a>
                  <a class="dropdown-item" (click)="FiGet()">Fantasy</a>
                  <a class="dropdown-item" (click)="Science()">Non-Fiction</a>
                  <a class="dropdown-item" (click)="ProGet()">Programming</a>

                </div>
              </div>
        </div>
        <div class="col-lg-2" id="topButton">
            <button class="btn btn-dark" (click)="OnlyTop()">Top Sellers</button>
        </div>
        <div class="col-lg-2" id="rateButton">
              <button class="btn btn-dark" (click)="Rated()">Rating</button>
        </div>
        <div class="col-lg-2" id="AllButton">
            <button class="btn btn-dark" (click)="onGet()">All Books</button>
      </div>



    <!--This Ends the BrowseBy-->

   <div class="col-lg-1" id="sortBy">
      <!--This the is SortBy-->
              <div ngbDropdown class="dropdown">
                <button class="btn btn-dark dropdown-toggle" role="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                  Sort by:</button>
                  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="dropdown-item" (click)="sortByTitle()" >Title A-Z</a>
                    <a class="dropdown-item" (click)="sortByAuthor()">Author A-Z</a>
                    <a class="dropdown-item" (click)="sortByPriceHL()">Price (Highest - Lowest)</a>
                    <a class="dropdown-item" (click)="sortByPriceLH()">Price (Lowest - Highest)</a>
                    <a class="dropdown-item" (click)="sortByRating()">Book Rating</a>
                    <a class="dropdown-item" (click)="sortByRelease()">Release Date</a>
                  </div>
              </div>
        </div>
      </div>
      <hr>


      <!--This ends SortBy-->
      <a id="TheseBooks" class="list-inline-item clearfix" *ngFor="let book of books">
          <div class="container" id="inlineContainer">
            <div class="container" id="otherContainer">
            <a style="text-align: center;"  [routerLink] ="['/bookdetails']">
            <img (click) = "getBook(book)" src= "{{book.path}}" alt="{{ book.Title }}" style="height: 250px; align-self: center;"></a>
            </div>
            <p class="list-inline-item-text" style="font-size:80%; text-align: center; max-width: 250px; word-wrap: break-word;"><b>{{ book.Title }}</b></p>
            <hr id="theHr">
            <p class="list-inline-item-text" style="font-size:70%; text-align: center">{{ book.Author }}</p>
            <p class="list-inline-item-text" style="font-size:70%; text-align: center">{{ book.Genre }}</p>
            <p class="list-inline-item-text" style="font-size:70%; text-align: center">Rating: {{ book.Rating }}/5</p>
            <p class="list-inline-item-text" style="font-size:70%; text-align: center">{{ book.Price }}</p>
            <p class="list-inline-item-text" style="font-size:70%; text-align: center">{{ book.TimesBought }}</p>
            <p class="list-inline-item-text" style="font-size:70%; text-align: center" (click)="buyBook(book)"><u>BUY BOOK</u></p>
            <!--p class="list-inline-item-text" style="font-size:70%; text-align: center">{{ book.PubDate }}</p-->
          </div>
      </a>

      <br>
      <div (click)="whatShows(20)"><u>see more</u></div>

      <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="whatShows(10)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" (click)="whatShows(10)">1</a></li>
          <li class="page-item"><a class="page-link" (click)="whatShows(21,20)">2</a></li>
          <!--li class="page-item"><a class="page-link" href="#">3</a></li-->
          <li class="page-item">
            <a class="page-link" (click)="whatShows(21,20)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>


