<app-drop-down></app-drop-down>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<ul class= "w3-ul" id="id01">
       <li class="w3-bar">
         <img src="../../assets/bookCovers/warandpeace.jpg" class="w3-bar-item w3-square w3-hide-small" style="width:85px">
           War and Peace
           <br><span id= "Author">Leo Tolstoy</span>
           </li>
       <li class="w3-bar">
         <img src="../../assets/bookCovers/HarryPotter.jpg" class="w3-bar-item w3-square w3-hide-small" style="width:85px">
           Harry Potter and Sorcerer's Stone
           <br><span id= "Author">J.K. Rowling</span>
           </li>
       <li class="w3-bar">
         <img src="../../assets/bookCovers/Dracula.jpg" class="w3-bar-item w3-square w3-hide-small" style="width:85px">
           Dracula
           <br><span id= "Author">Bram Stoker</span>
           </li>
       <li class="w3-bar">
         <img src="../../assets/bookCovers/StarWars.jpg" class="w3-bar-item w3-square w3-hide-small" style="width:85px">
           Star Wars
           <br><span id= "Author">George Lucas</span>
           </li>
       <li class="w3-bar">
         <img src="../../assets/bookCovers/TheHobbit.jpg" class="w3-bar-item w3-square w3-hide-small" style="width:85px">
           The Hobbit
           <br><span id= "Author">J.R.R. Tolkein</span>
           </li>
       <li class="w3-bar">
         <img src="../../assets/bookCovers/WarOfTheWorlds.jpg" class="w3-bar-item w3-square w3-hide-small" style="width:85px">
           War of the Worlds
           <br><span id= "Author">H.G. WElls</span>
           </li>
       <li class="w3-bar">
         <img src="../../assets/bookCovers/HTML4Dummies.jpg" class="w3-bar-item w3-square w3-hide-small" style="width:85px">
           Html, CSS, Javascript for Dummies
           <br><span id= "Author">Anwar</span>
           </li>

</ul>



