<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/profile">Profile</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/profile/account">Account</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Email</li>
    </ol>
  </nav>


  <div class="title-container">
    <h1 class="title">Change your name</h1>
  </div>

  <hr />

  <div class="account-container">
    <form #nameForm="ngForm">
      <input class="form-control" type="text" name="newName" placeholder="New name" ngModel>
      <button class="btn btn-info" (click)="onChangeName(nameForm, 'submit')" type="submit">Save Changes</button>
      <button class="btn btn-link" (click)="onChangeName(nameForm, 'cancel')" type="submit">Cancel</button>
    </form>

  </div>

</div>
