<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
  </nav>

  <div class="title-container">
    <h1 class="title">My Account</h1>
  </div>

  <hr />


  <div class="row settings-container">
    <div class="col-md-8">
      <div class="setting">
        <h2>Account Settings</h2>
        <p>
          <strong>Full Name:</strong> {{ fullName }}</p>
        <p>
          <strong>Email Address:</strong> {{ email }}</p>

        <button class="btn btn-info btn-setting" routerLink="/profile/account">Manage Account Settings</button>
      </div>
    </div>
  </div>

  <div class="row settings-container">
    <div class="col-md-8">
      <div class="setting">

        <h2>Your Addresses</h2>
        <div *ngIf="defaultAddress; else elseBlock">
            <p><strong>Default address</strong></p>
            <h6 class="card-subtitle mb-2 text-muted">{{ defaultAddress.fullName }}</h6>
            <p class="card-text card-address">{{ defaultAddress.streetAddress1 }}</p>
            <p class="card-text card-address">{{ defaultAddress.city }}, {{ defaultAddress.state }} {{ defaultAddress.zipCode }}</p>
            <p class="card-text card-address">{{ defaultAddress.country }}</p>
        </div>
        <ng-template #elseBlock>
            <p>You do not have any addresses stored in your book.</p>
        </ng-template>

        <button class="btn btn-info btn-setting" routerLink="/profile/address">Manage Addresses</button>
      </div>
    </div>
  </div>

  <div class="row settings-container">
    <div class="col-md-8">

      <div class="setting">
        <h2>Payments</h2>
        <p>No Payment methods</p>
        <p>
          <a>Add a New Payment Method</a>
        </p>

        <button class="btn btn-info btn-setting" routerLink="/profile/payment">Manage Payment Options</button>
      </div>
    </div>
  </div>
