<div class="container">
  <div class="title-container">
    <h1 class="title">My Account</h1>
  </div>

  <hr />

  <div class="row settings-container">
    <div class="col-md-6">
      <div class="setting">
        <h2>Account Settings</h2>
        <p><strong>Full Name:</strong> Eddy Mogollon</p>
        <p><strong>Email Address:</strong> eddymogs@gmail.com</p>
        <p><strong>Password:</strong> ********</p>
        <p><a href="#">Manage Email Preferences</a></p>

        <button class="btn btn-info btn-setting" routerLink="/account">Manage Account Settings</button>
      </div>

      <div class="setting">
        <h2>Your Addresses</h2>
        <p><strong>Physical Address:</strong> 123 Main Street</p>
        <p><strong>Shipping Address:</strong> 456 Liberty Street</p>

        <button class="btn btn-info btn-setting" routerLink="/address">Manage Addresses</button>
      </div>
    </div>

    <div class="col-md-6">
      <div class="setting">
        <h2>Payments</h2>
        <p>No Payment methods</p>
        <p><a>Add a New Payment Method</a></p>

        <button class="btn btn-info btn-setting" routerLink="/payment">Manage Payment Options</button>
      </div>

      <div class="setting">
        <h2>Your Books</h2>
        <p><strong># of Books:</strong> 42</p>
        <p><strong>Saved books:</strong> 3</p>
        <p><strong>Shopping Cart:</strong> 5<p>
        <button class="btn btn-info btn-setting">Manage Your Books</button>
      </div>

    </div>

  </div>

