<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Sign In</li>
    </ol>
  </nav>

  <h1 class="text-center title">Dbooks</h1>

  <form (ngSubmit)="onSignin(f)" #f="ngForm">
    <div class="sign-in">
      <h5>Sign In</h5>
      <label>Email</label>
      <input class="form-control" type="text" name="email" ngModel>

      <label>Password</label>
      <input class="form-control" type="password" name="password" ngModel>

      <button class="continue-button btn btn-primary btn-block" type="submit">Continue</button>
      <hr />
      <p class="text-center">Don't have an account?
        <a routerLink="/sign_up">Create an Account!</a>
      </p>

      <p class="text-center policy">By signing in you are agreeing to our
        <a href="#">Terms of Use</a> and our
        <a href="#">Privacy Policy</a>.</p>
    </div>
  </form>
</div>
